

nav{
	width: 100%;
	background: #000;
	font-size: 1.3rem;
	height: 8rem;

	clip-path: polygon(0 0, 100% 0, 100% 6rem, 0 100%);

	
}

/* nav .wrap{

	width: 80%;
	margin: auto;
	
	display: flex;
	justify-content:space-between;
	align-items: center;
	transform: translateY(1.6rem);






}


nav .wrap .nav__logo{
	width: 8rem;

	
}

nav .wrap .nav__logo img{
	width: 100%;
} */



/* 
nav .wrap .nav__list{



} */

/* 

nav .wrap .nav__list ul > * + *{
	margin-left: 1.6rem;
}



nav .wrap .nav__list ul{
display: flex;






}



nav .wrap .nav__list ul > a{
	color: #fff;
	text-decoration: none;
	

	list-style: none;
	position: relative;
	text-transform: capitalize;

	




}

nav .wrap .nav__list ul a::after{
	content: '';
	position: absolute;
	height: .2rem;
	width: 0%;
	bottom: -25%;
	right: 0%;
	transition: .2s ease-in-out;
		
	background:red;
}


nav .wrap .nav__list ul a:hover::after{
	width: 60%;
	
} */
